# version: "3"

services:
  app:
    build:
      context: ./langgraph-demo
      args:
        APP_ENV: "test"
    ports:
      - "127.0.0.1:8000:8000"
    volumes:
      - ./langgraph-demo:/app
      - /etc/localtime:/etc/localtime:ro 
    command: >
      sh -c "uvicorn --reload --host 0.0.0.0 --app-dir src/ app.entrypoints.webapp.asgi:app"
    env_file:
      - ./.env
    environment:
      DB_HOST: psdb
      DB_PORT: 5432
      DB_NAME: ${POSTGRES_DB}
      DB_USER: ${POSTGRES_USER}
      DB_PASS: ${POSTGRES_PASSWORD}
      DB_URL: postgresql://${DB_USER}:${DB_PASS}@${DB_HOST}:${DB_PORT}/${DB_NAME}
    depends_on:
      psdb:
        condition: service_healthy

  psdb:
    image: postgres:18.1-bookworm
    ports:
      - "5432:5432"
    volumes:
      - psdb_data:/var/lib/postgresql/data
    env_file:
      - ./.env
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
      PGDATA: ${PGDATA}
      POSTGRES_INITDB_ARGS: ${POSTGRES_INITDB_ARGS}
      POSTGRES_INITDB_WALDIR: ${POSTGRES_INITDB_WALDIR}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB} -h 127.0.0.1 -p 5432"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 5s


volumes:
  psdb_data:
