AUTH_ENV=dev
AUTH_ISSUER=http://localhost:8001
AUTH_DEFAULT_AUDIENCE=fapi-services
AUTH_ACTIVE_KID=main
AUTH_KEYS_DIR=./.data/keys
AUTH_AUTO_GENERATE_ACTIVE_KEY=true
AUTH_DB_URL_SQLALCHEMY=sqlite+aiosqlite:///./.data/auth.db
AUTH_ACCESS_TOKEN_TTL_SECONDS=900
AUTH_MAX_ACCESS_TOKEN_TTL_SECONDS=3600
AUTH_REFRESH_TOKEN_TTL_SECONDS=2592000
