# app environment
TAVILY_API_KEY=
GEMINI_API_KEY=
ENV=dev
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASS=
DB_URL=
REDIS_URL=redis://redis:6379/0
WS_TICKET_TTL_SECONDS=30
AUTH_ACCESS_TOKEN_SECRET=
AUTH_ACCESS_TOKEN_ALGORITHM=HS256
AUTH_ACCESS_TOKEN_AUDIENCE=
AUTH_ACCESS_TOKEN_ISSUER=

# psdb environment
POSTGRES_PASSWORD=
POSTGRES_USER=
POSTGRES_DB=
# PGDATA=
# POSTGRES_INITDB_ARGS=
# POSTGRES_INITDB_WALDIR=
